@charset 'UTF-8';
@import './common/css/reset.scss';
html {
    
    .index {
       background-image: url(./common/img/img_mainBg.jpg);

        .inner {
            max-width: 1025px;
            width: 100%;
            margin: 0 auto;
        }

        img{
            max-width: 100%;
            height: auto;
            vertical-align: bottom;
        }

        a {
            text-decoration: none;
        }

        li {
            display: inline-block;
            list-style: outside none none;
            padding: 0;
        }
        li+ li {
            border-left: 1px solid #fff;
        }

        .bg_img {
            .main_bg {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 514px;
            }

            .sub_bg {
                width: 100%;
                height: 100%;
            } 
    
            .sns_box {
                position: absolute;
                padding-top: 20px;
                padding-left: 23px;
            }
    
            .logo {
                position: relative;
                &_1 {
                    text-align: center;
                    padding-top: 47px;
                    img {
                        width: 7.85%;
                    }
                }
                &_2 {
                    position: absolute;
                    margin: -110px 20%;
                }

                &_3 {
                    text-align: center;
                    padding-top: 63px;
                    padding-bottom: 35px;
                }
                &_4 {
                    position: absolute;
                    right: 3.5%;
                    top: -26%;
                }
            }

            .nav {
                background-image: url(./common/img/img_menu_bg.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                &_bg {
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

            }

            .credit {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 22px;
                img {
                    width: 90%;
                }
            }
            .banner {
                .inner-s {
                    margin: 0 auto;
                    max-width: 750px;
                }
                .inner-banner {
                    display: flex;
                    justify-content: space-between;
                }
                .aaa {
                    clear: both;
                    padding-top: 23px;
                    padding-bottom: 20px;
                }
            }
        }

    }
}